body {
  background:#1A1A1D 
}

h1, h2, h3, h4 {
  font-family: 'Lora', serif;
  background-image: linear-gradient(to top,#c3073F, #950740, #6F2232);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

h1 {
  font-size: 60px;
}

h6 {
  font-family: 'Lora', serif;
  color:#6F2232; 
  font-size: 14px;
}

h3 {
  font-style: italic;
}

h5 {
  font-family: 'Lora', serif;
  color:#4E4E50
}

.info {
  font-family: 'Source Sans 3', sans-serif;
  color:#4E4E50;
  font-size: 22px;
  width: 1000px;
} 


.Link {
  background:#6F2232;
  padding: 10px;
  text-decoration: none;
  color:#1A1A1D;
  margin: 5px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: bold;
}

.mainPhoto {
  border: solid 5px #6F2232;
}


li {
  font-family: 'Lora', serif;
}

.divPhoto {
  box-shadow: 25px 20px 3px 10px #950740;
}

.main, .paragraph, nav, .smallHeaderTwo, .smallHeader, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  padding: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.paragraph {
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.smallHeader {
  margin-top: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  text-align: center;
}

.header {
  text-align: center;
  margin-top: 70px;
  flex-wrap: wrap;
}

.smallHeaderTwo {
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.btn {
  color:#c3073F;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 20px;
  border: 1px solid #c3073F
}

.infoAllaTwo {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 20px;
  background: #1A1A1D;
  color: antiquewhite
}

.destiny {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.smallButton {
  color:#1A1A1D;
  background: #c3073F;
  margin-top: 5px;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 18px;
  border: none;
  padding: 5px;
}

.createPlan {
  background: #4E4E50;
  color: antiquewhite;
  margin: 50px;
}

.cleanList {
  background: antiquewhite;
  width: 300px;
  border: 3px solid #950740;
}

.contPar {
  line-height: 2.5;
  letter-spacing: 20%;
  text-align: center;
  margin: 10px;
}

.par, .contPar {
  font-family: 'Source Sans 3', sans-serif;
  color: antiquewhite;
  font-size: 20px;
} 

.inputPlan {
  background:#c3073F;
  padding: 5px;
}

.inputTask {
  background:#6F2232;
  color: antiquewhite;
  padding: 10px;
}

.inputTaskTwo {
  background:#4E4E50;
  color: antiquewhite;
  padding: 30px;
}

.iconBtn {
  border: none;
 }

.addPlan {
  background: antiquewhite;
  padding: 3px;
}

.item-card {
  padding: 1%;
  text-align: center;
  flex-grow: 1;
  flex-basis: 10%
}

.main-item {
  display: flex;
  flex-wrap: wrap;
}

.aboutDish {
  padding: 10px;
  background: #950740;
}

.mainBtn {
  color:#c3073F;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.musicBtn {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 15px;
  width:50%;
  background: antiquewhite;
  color: #4E4E50;
}

.musicBtn:hover {
  color: #c3073F;
  font-size: 20px;
  text-transform: uppercase;
}

.mainButton {
  color: #6F2232;
  background: antiquewhite;
  font-family: 'Source Sans 3', sans-serif;
  border: none;
  border-radius: 50%;
  font-size: 15px;
}

.mainButton:hover {
  color: antiquewhite;
  background: #6F2232;
  border: 2px solid antiquewhite;
  border-radius: 20%;
}

.descriptionItems {
  font-family: 'Source Sans 3', sans-serif;
  font-style: italic;
  font-size: 20px;
  padding: 10px;
  background: antiquewhite;
  color:#6F2232
}

.mainContImage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photoFrame {
  padding: 10px;
  background: antiquewhite;
}

.advices {
  display: flex;
  flex-direction: column;
  align-self: center;
  background: antiquewhite;
}

.infoJonna {
  font-family: 'Source Sans 3', sans-serif;
  color: antiquewhite;
}

.infoJonnaTwo {
  font-family: 'Source Sans 3', sans-serif;
  color:#1A1A1D
}

.videoJonna {
  border: antiquewhite solid 5px;
  border-radius: 50%;
}

.selected {
  background:#6F2232;
  color: antiquewhite;
  font-size: 20px;
  font-family: 'Source Sans 3', sans-serif;
}

.default {
  color: #6F2232;
  font-size: 20px;
  font-family: 'Source Sans 3', sans-serif;
}

.createdPlan {
  border:#c3073F solid 3px;
}

.photoTanya {
  width:250px
}

.containerphotosLesya {
  display: flex;
  justify-content: center;
}

.photoLesya {
  border: 3px solid antiquewhite;
}

@media all and (max-width:800px) {

  .spaceCont {
    margin-left: 20px;
    margin-right: 20px;
  }

  h1 {
    font-size: 30px;
  }

  .info {
    font-size: 18px;
  } 

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .paragraph {
    flex-direction: column;
    text-align: center;
   }

   .photoDest {
    width: 280px;
    height: 180px;
   }

   .smallHeader {
    flex-direction: column;
    text-align: center;
   }

   .contPar {
    width: 450px;
    margin-top: 20px;
    line-height: 1.5;
    letter-spacing: 50%;
  }

  .videoJonna {
    width: 500px;
  }

  .descriptionDishes {
    font-size: 15px;
  }

  .addPlan {
    padding: 0px;
  }

  .photoAdapted {
    width: 400px;
  }

  .photoAdaptedKatarina {
    width: 350px;
    height: 320px;
  }

  @media all and (max-width:500px) {
    .carouselAlla {
      height: 250px;
      width: 350px;
    }

    .infoAllaTwo {
      font-size: 14px;
    }

    .photoDest {
      width: 220px;
      height: 150px;
    }

    .contPar {
      font-size: 15px;
      margin-left: 10px;
      margin-right: 10px;
    }

    h2 {
      font-size: 18px;
    }

    h5 {
      font-size: 16px;
    }

    .info, .par, li,  .mainBtn {
      font-size: 15px;
    }

    .Link {
        padding: 5px;
        margin: 3px;
        font-weight: bolder;
      }

    .photoJonna {
        width: 300px;
        height: 200px;
      }

    .videoJonna,  .homePhoto,  .aboutDish {
        width: 300px
      }

    .photoAdapted {
      width: 250px;
      }

    .picInterests {
      width: 300px;
      height: 320px;
    }

  }







   
  
  
  
}







