body {
  background:#1A1A1D 
}

h1 {
  background-image: linear-gradient(to top,#c3073F, #950740, #6F2232);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 60px;
  text-wrap: balance;
  font-family: 'Lora', serif;
}

h2, h3 {
  font-family: 'Lora', serif;
  color: #c3073F;
  text-wrap: balance;
}

h4, h6 {
  color:#6F2232; 
  text-wrap: balance;
  font-family: 'Lora', serif;
}

h6 {
  font-size: 14px;
}

h3 {
  font-style: italic;
}

h5 {
  color:#4E4E50;
  text-wrap: balance;
  font-family: 'Lora', serif;
}

.info {
  font-family: 'Source Sans 3', sans-serif;
  color: white;
  background:#4E4E50;
  font-size: 22px;
  padding: 20px;
  margin: 20px;
  text-align: justify;
} 

.footer {
 background: #4e4e50;
  text-decoration: none;
}

.foot {
  text-decoration-line: none;
  color: antiquewhite;
}

.infoTwo {
  font-family: 'Source Sans 3', sans-serif;
  color: white;
  background:#4E4E50;
  padding: 5px;
  font-size: 25px;
  width: 1000px;
  text-align: center;
}

.description {
  font-family: 'Source Sans 3', sans-serif;
  color: antiquewhite;
  text-align: center;
}

.Link {
  background:#6F2232;
  padding: 10px;
  text-decoration: none;
  color:#1A1A1D;
  margin: 5px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: bold;
}


.mainPhoto {
  border: solid 5px #6F2232;
}

li {
  font-family: 'Lora', serif;
}

.form {
  display: flex;
  flex-direction: column;
}

.containerForm {
  background-image: linear-gradient(to top,#4e4e50, antiquewhite);
  text-wrap: balance;
  padding: 10px;
}

.inputEmail {
  border: none;
  font-family: 'Source Sans 3', sans-serif;
  padding: 10px;
  background: antiquewhite;
}

.areaEmail {
  border: none;
  padding: 40px;
  font-family: 'Source Sans 3', sans-serif;
  background: #c3073F;
}

.areaEmail:focus {
  background: antiquewhite
}

.inputEmail:focus {
background:#c3073F
}

.divPhoto {
  box-shadow: 25px 20px 3px 10px #950740;
}

.main, .paragraph, nav, .smallHeaderTwo, .smallHeader, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  padding: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.paragraph {
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.smallHeader {
  margin-top: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  text-align: center;
}

.text-container {
  margin: 20px auto;
  padding: 15px;
  max-width: 800px;
  text-align: center;
  font-family: 'Source Sans 3', sans-serif;
  color: white;
  background:#4E4E50;
  border-radius: 10px; /* Сглаженные углы */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Легкая тень */
}


.header {
  text-align: center;
  margin-top: 70px;
  flex-wrap: wrap;
}

.smallHeaderTwo {
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.btn {
  color:#c3073F;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 20px;
  border: 1px solid #c3073F;
}

.infoAllaTwo {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 20px;
  background: #1A1A1D;
  color: antiquewhite;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
  padding: 10px 20px; 
}

.destiny {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.smallButton {
  color:#1A1A1D;
  background: #c3073F;
  margin-top: 5px;
  padding: 10px 20px;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.smallButton:hover {
  background-color: #1A1A1D;
  color: #c3073F;
  border: 3px solid #c3073F;
  padding: 8px 18px;
}

.createPlan {
  background: #4E4E50;
  color: antiquewhite;
  margin: 50px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  text-align: center;
}


.cleanList {
  background: antiquewhite;
  width: 300px;
  border: 3px solid #950740;
}

.contPar {
  line-height: 1.5;
  letter-spacing: 20%;
  text-align: justify;
  margin: 10px;
  padding: 20px;
}

.par, .contPar {
  font-family: 'Source Sans 3', sans-serif;
  color: antiquewhite;
  font-size: 20px;
  text-wrap: balance;
} 

.inputPlan {
  background:#c3073F;
  padding: 5px;
}

.inputTask {
  background:#6F2232;
  color: antiquewhite;
  padding: 10px;
}

.inputTaskTwo {
  background:#4E4E50;
  color: antiquewhite;
  padding: 30px;
}

.iconBtn {
  border: none;
}

.addPlan {
  background: antiquewhite;
  padding: 10px;

}

.item-card {
  padding: 1%;
  text-align: center;
  flex-grow: 1;
  flex-basis: 10%
}

.fruit-candy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
}


.main-item {
  display: flex;
  flex-wrap: wrap;
}

.aboutDish {
  padding: 10px;
  border-radius: 8px;
}

.mainBtn {
  color:#c3073F;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}


.musicBtn {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 15px;
  width:50%;
  background: antiquewhite;
  color: #4E4E50;
}

.musicBtn:hover {
  color: #c3073F;
  font-size: 20px;
  text-transform: uppercase;
}

.mainButton {
  color: #6F2232;
  background: antiquewhite;
  font-family: 'Source Sans 3', sans-serif;
  border: none;
  border-radius: 50%;
  font-size: 15px;
}

.mainButton:hover {
  color: antiquewhite;
  background: #6F2232;
  border: 2px solid antiquewhite;
  border-radius: 20%;
}

.descriptionItems {
  font-family: 'Source Sans 3', sans-serif;
  font-style: italic;
  font-size: 20px;
  padding: 10px;
  background: antiquewhite;
  color:#6F2232;
  margin: 15px 0;
}

.mainContImage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photoFrame {
  padding: 10px;
  background: antiquewhite;
}

.advices {
  display: flex;
  flex-direction: column;
  align-self: center;
  background: antiquewhite;
}

.infoJonna {
  font-family: 'Source Sans 3', sans-serif;
  color: antiquewhite;
}

.infoJonnaTwo {
  font-family: 'Source Sans 3', sans-serif;
  color:#1A1A1D
}

.videoJonna {
  border: antiquewhite solid 5px;
  border-radius: 50%;
}

.check {
  font-family: 'Source Sans 3', sans-serif;
  color: antiquewhite;
  padding: 10px;
  margin: 10px;
}

.checkContainer {
  background: #c3073F;
  padding: 10px;
  margin: 0;
}

.selected {
  background:#6F2232;
  color: antiquewhite;
  font-size: 20px;
  font-family: 'Source Sans 3', sans-serif;
}

.default {
  color: #6F2232;
  font-size: 20px;
  font-family: 'Source Sans 3', sans-serif;
}

.createdPlan {
  border:#c3073F solid 3px;
}

.photoTanya {
  width:250px
}

.crossed {
  text-decoration: line-through 5px #950740;
}

.inputDish {
  background: transparent;
  color:#6F2232;
  border: #950740 3px solid;
  padding: 10px;
  width:50%
}

.dishLi {
  font-family: 'Source Sans 3', sans-serif;
  color: antiquewhite;
  font-size: 16px;
  background:#c3073F;
  list-style: none;
  margin-top: 20px;
  padding: 12px;
}

.smallButtonTwo {
  color:#c3073F;
  background: transparent;
  border: #950740 3px solid;
  margin-top: 5px;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 18px;
  padding: 8px;
}

.containerphotosLesya {
  display: flex;
  justify-content: center;
}

.photoLesya {
  border: 3px solid antiquewhite;
}

.task {
  text-decoration: underline;
}

.infoKatarina {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
  background: #4E4E50;
  color: antiquewhite;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
  padding: 5px 10px;
}


@media all and (max-width:800px) {

  .spaceCont {
    margin-left: 20px;
    margin-right: 20px;
  }

  .picInterests {
    width: 300px;
    height: 320px;
  }

  h1 {
    font-size: 30px;
  }

  h4 {
    font-size: 16px;
  }

  .info {
    font-size: 18px;
  } 

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .paragraph {
    flex-direction: column;
    text-align: center;
   }

   .photoDest {
    width: 280px;
    height: 180px;
   }

   .contPar {
    width: 450px;
    margin-top: 20px;
    line-height: 1.5;
    letter-spacing: 50%;
  }

  .videoJonna {
    width: 500px;
  }

  .descriptionDishes {
    font-size: 15px;
  }

  .addPlan {
    padding: 3px;
  }

  .photoAdapted {
    width: 400px;
  }

  .photoAdaptedKatarina {
    width: 350px;
    height: 320px;
  }

  .videoJonna,  .homePhoto,  .aboutDish {
    width: 300px
  }

  @media all and (max-width:500px) {
    .carouselAlla {
      height: 250px;
      width: 350px;
    }

    .infoAllaTwo {
      font-size: 14px;
      padding: 0px;
      text-wrap: balance;
    }

    .photoDest {
      width: 220px;
      height: 150px;
    }

    .contPar {
      font-size: 15px;
      margin-left: 10px;
      margin-right: 10px;
    }

    h2 {
      font-size: 20px;
    }

    h5 {
      font-size: 16px;
    }

    .info, .par, li,  .mainBtn {
      font-size: 15px;
    }

    .Link {
        padding: 5px;
        margin: 3px;
        font-weight: bolder;
      }

    .photoAdapted {
      width: 250px;
      }

    .photoLesya {
      width:300px
    }

  }







   
  
  
  
}







